/*BODY*/
body {
	background-image: url("../images/vintage_wallpaper_by_karmanianka.jpg");
	background-repeat: repeat;
	background-size: cover;
}

/*NAVBAR*/
.nav {
	background-color: #000000;
	box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.75);
	padding: 14px;
}
.nav a {
	color: #17896d;
}
.nav a:hover {
	color: #13604d;
}

/*MAIN*/
.main-content {
	background-color: #6d6868;
	margin-top: 12%;
	border-radius: 2px;
}

/*BUTTONS*/
.btn.btn-primary {
	margin: 12px;
  background-color: #17896d;
	border-color: #17896d;
}
.btn.btn-primary:hover {
  background-color: #13604d;
  border-color: #13604d;
}
.btn.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(19, 96, 77, .25);
}
.btn.btn-primary.disabled, .btn-primary:disabled {
  background-color: #13604d;
  border-color: #13604d;
}
.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #13604d;
  border-color: #13604d;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(19, 96, 77, .25);
}

/*FORM*/
.form {
	text-align: center;
	margin: 0 auto;
	width: 40%;
	padding: 42px 12px;
	display: block;
}
input.form-control:focus {
	border-color: #13604d;
	box-shadow: 0 0 0 0.2rem rgba(19, 96, 77, .25);
}
.is-hidden {
	display: none !important; 
}